body {
    display: grid;
    grid-template-areas: "header header"
        "navigation content";
    max-width: 100%;
}

header {
    grid-area: header;
    background-color: #181823;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    height: 10rem;
}

/*
nav {
    grid-area: navigation;
    background-color: #537FE7;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 3rem;
}

nav ul {
    padding-left: 10px;
}

nav li {
    margin: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
*/

/*Nav section*/
nav {
    margin: 0;
    background: #9fcedf;
    --duration: .5s;
    --easing: ease-in-out;
    position: relative;
    width: 220px;
    margin: 20px;
}


/*
    .sub-menu {
        a {
            font-size: .9em;
            color: #666666;
            border-left: 2em solid white;
            padding: .75em;
            background: linear-gradient(to right,
                    #ddd 2px,
                    #fff 2px);

            &:hover {
                background: linear-gradient(to right,
                        #ddd 2px,
                        #efefef 2px);
            }
        }
    }
*/
/*
    header {
        font-weight: 600;
        display: block;
        background: rgba(255, 255, 255, .5);
        transform-origin: 0 0;
        transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
        transition-delay: var(--delay-out);
        border-radius: 4px;
        padding: 1em 1.52em;
*/
/*
        span {
            border: none;
            background: transparent;
            font-size: 1.5em;
            padding: 0;
            cursor: pointer;
            line-height: 1;
            float: right;
        }
    }
*/
/*
    footer button {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        padding: calc(~'1em - 2px');
        width: 100%;
        transform-origin: 0 0;
        transition: transform var(--duration) var(--easing);
        transition-delay: calc(~'var(--duration) + (.1s * (var(--count) / 2))');
        cursor: pointer;
        outline: none;
        background: #cdcdcd;
        opacity: 0;
    }
*/
/*
    &.closed {

        a,
        header {
            transform: translateY(~'calc(var(--top) * -1)') scaleY(0.1) scaleX(.2);
            transition-delay: var(--delay-in);
            color: transparent;
        }

        footer button {
            transition-delay: 0s;
            transform: scaleY(.7) scaleX(.2);
        }
    }
    */
nav h3 {
    background-color: black;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: -4px 0 0 0;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    /*background: #fff;*/
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
}

li li:hover {
    background: #efefef;
}

nav .level-2 a {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    /*background: linear-gradient(to right,
            #ddd 2px,
            #fff 2px);*/
}

nav ul {
    padding-left: 5px;
}

nav h3 {
    font-weight: 600;
    display: block;
    background: rgba(255, 255, 255, .5);
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    /*padding: 1em 1.52em;*/
}

/*end nav section*/

section {
    grid-area: content;
    background-color: #E9F8F9;
}

#content {
    font-family: 'Roboto', sans-serif;
    padding: 3rem;
    margin: 0 auto;
}

.containerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content h2 {
    text-align: center;
    background-color: #301E67;
    color: white;
    height: 3rem;
    font-size: 2rem;
}

#content h3 {
    text-align: center;
    font-size: 1.5rem;
}

#content h4 {
    font-size: 1.2rem;
}

.text {
    width: 40%;
    padding: 2rem;
    display: inline-block;
}

.code {
    width: 40%;
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    display: inline-block;
}

#top {
    font-size: 3rem;
    position: fixed;
    margin: 2rem;
    padding: 1rem;
    background-color: #301E67;
    color: white;
    z-index: 5;
}


ul li ul {
    display: none;
}


ul li:hover>ul,
ul li ul:hover {
    display: block;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 2px 3rem;
}